
.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: solid 1px black;
    width: 75%;
    height: 75%;
    padding: 5px;
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }
}

#post-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: double 1px black;
    border-style: dotted;
    margin: 10px;
}