
body {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

/* Header Styles */
header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #f0f0f0;
    color: #000;
    border-bottom: double black;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #f0f0f0;
    color: #000;
    border-top: double black;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode header,
body.dark-mode footer {
    background-color: #222;
}

body.dark-mode a, 
body.dark-mode button {
    color: #4f96ff; 
}

body.dark-mode button {
    background-color: #555;
}

.circle {
    background: radial-gradient(circle at 100px 100px, #679c22, #000);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    header, footer {
        flex-direction: column;
        text-align: center;
    }
}
